In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import os
import subprocess

#import colors
import time
import datetime
#from rfc3339 import rfc3339

In [2]:
def init_splinter():
    '''
        init_splinter() initializes and returns an automated Chrome web browser for us to use for
    scraping.
    '''
    print('Initizalizing Splinter Browser...\n')
    time.sleep(2)
    ############################################
    if (os.name == "posix"):    
        executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
    elif (os.name == "nt"):
        executable_path = {'executable_path': 'chromedriver.exe'}
    browser = Browser('chrome', **executable_path, headless=False)
    ############################################
    return browser


def simmer_soup():
    '''
        simmer_soup() receives the Splinter browser and returns the current page's parsed html as
    "Soup".
    '''
    html = browser.html
    soup = bs(html, 'html.parser')
    ############################################
    return html, soup

In [3]:
# Init the browser
browser = init_splinter()
browser.driver.minimize_window()

Initizalizing Splinter Browser...

In [4]:
# Download the csv to ~/Downloads as "API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.zip"
url = "http://api.worldbank.org/v2/en/indicator/SH.H2O.SMDW.ZS?downloadformat=csv"
browser.visit(url)

In [5]:
# return the correct slash for the os
if (os.name == "posix"):
    slash = "/"
elif (os.name == "nt"):
    slash = "\\"

In [6]:
# create a var of the user's downloads dir
data_dir = str(os.environ['HOME'] + slash + "Downloads" + slash)
print(data_dir)

/Users/nicolespaar/Downloads/

In [7]:
# create a var of the downloaded archive of .csvs
data_file = "API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.zip"
data_loc = (data_dir + data_file)
print(data_loc)

/Users/nicolespaar/Downloads/API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.zip

In [9]:
# extract the .csvs from the archive into the same downloads directory
import zipfile
zf = zipfile.ZipFile(data_loc, 'r')
zf.extractall(data_dir)

In [10]:
csv1_name = "API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.csv"
csv1 = (data_dir + csv1_name)
print(csv1)

/Users/nicolespaar/Downloads/API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.csv

In [11]:
csv2_name = "Metadata_Country_API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.csv"
csv2 = (data_dir + csv2_name)
print(csv2)

/Users/nicolespaar/Downloads/Metadata_Country_API_SH.H2O.SMDW.ZS_DS2_en_csv_v2_10581721.csv

In [24]:
csv1_DF = pd.read_csv(csv1, header=2)
csv1_DF_clean = csv1_DF[["Country Name", "Country Code", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]].copy()
csv1_DF_clean = csv1_DF_clean.dropna(axis=0)
csv1_DF_clean = csv1_DF_clean.drop([62, 63, 229, 215, 151, 71, 132, 93, 103, 257], axis=0)
### output to csv is temporary for group work to continue before sql integration
#csv1_DF_clean.to_csv("access.csv")
###
csv1_DF_clean.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
3,Albania,ALB,43.235267,45.108835,46.966948,48.821304,50.671535,52.517182,54.357921,56.193358,58.023103,59.846676,61.663829,63.474112,65.277205,67.072394,68.859504,68.869979
7,Argentina,ARG,97.694744,97.743560,97.791188,97.837488,97.882309,97.996731,98.109610,98.220977,98.269485,98.306944,98.343078,98.377874,98.411365,98.409375,98.532065,98.527415
8,Armenia,ARM,26.701348,26.747758,31.052874,35.375587,39.714745,43.889582,46.715767,49.531490,52.330072,55.094412,57.825350,60.499950,60.424483,60.355636,60.617571,60.581446
12,Austria,AUT,97.830153,97.887471,97.944788,98.002106,98.059423,98.116740,98.174058,98.231375,98.288693,98.346010,98.403327,98.460645,98.517962,98.575280,98.632597,98.689914
13,Azerbaijan,AZE,51.422195,51.797960,52.171309,52.542584,54.664516,56.808342,58.974001,61.161429,63.370085,65.599908,67.852341,69.785707,70.214670,70.646412,71.080776,71.517164

In [23]:
csv2_DF = pd.read_csv(csv2)
csv2_DF_clean = csv2_DF.drop(["Unnamed: 5"], axis=1).dropna(axis=0)
### output to csv is temporary for group work to continue before sql integration
#csv2_DF_clean.to_csv("income_groups.csv")
###
csv2_DF_clean.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,Central Bureau of Statistics and Central Bank ...,Aruba
1,AFG,South Asia,Low income,Central Statistics Organization; World Bank st...,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,IMF ; Source of population estimates: UN Popul...,Angola
3,ALB,Europe & Central Asia,Upper middle income,Albanian Institute of Statistics ; Source of p...,Albania
4,AND,Europe & Central Asia,High income,"Government of Andorra, Department of Statistic...",Andorra

In [36]:
DF = pd.merge(csv1_DF_clean, csv2_DF_clean, on="Country Code", how="left")
DF = DF.drop(["Region", "SpecialNotes", "TableName"], axis=1).copy()
DF.to_csv("water_data.csv")
DF.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,IncomeGroup
0,Albania,ALB,43.235267,45.108835,46.966948,48.821304,50.671535,52.517182,54.357921,56.193358,58.023103,59.846676,61.663829,63.474112,65.277205,67.072394,68.859504,68.869979,Upper middle income
1,Argentina,ARG,97.694744,97.743560,97.791188,97.837488,97.882309,97.996731,98.109610,98.220977,98.269485,98.306944,98.343078,98.377874,98.411365,98.409375,98.532065,98.527415,High income
2,Armenia,ARM,26.701348,26.747758,31.052874,35.375587,39.714745,43.889582,46.715767,49.531490,52.330072,55.094412,57.825350,60.499950,60.424483,60.355636,60.617571,60.581446,Upper middle income
3,Austria,AUT,97.830153,97.887471,97.944788,98.002106,98.059423,98.116740,98.174058,98.231375,98.288693,98.346010,98.403327,98.460645,98.517962,98.575280,98.632597,98.689914,High income
4,Azerbaijan,AZE,51.422195,51.797960,52.171309,52.542584,54.664516,56.808342,58.974001,61.161429,63.370085,65.599908,67.852341,69.785707,70.214670,70.646412,71.080776,71.517164,Upper middle income

In [37]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///water_data.sqlite', echo=True)
DF.to_sql("water_data", con=engine, if_exists="replace")

2019-06-24 18:46:51,559 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-06-24 18:46:51,560 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:46:51,561 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-06-24 18:46:51,562 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:46:51,563 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("water_data")
2019-06-24 18:46:51,564 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:46:51,570 INFO sqlalchemy.engine.base.Engine
CREATE TABLE water_data (
	"index" BIGINT,
	"Country Name" TEXT,
	"Country Code" TEXT,
	"2000" FLOAT,
	"2001" FLOAT,
	"2002" FLOAT,
	"2003" FLOAT,
	"2004" FLOAT,
	"2005" FLOAT,
	"2006" FLOAT,
	"2007" FLOAT,
	"2008" FLOAT,
	"2009" FLOAT,
	"2010" FLOAT,
	"2011" FLOAT,
	"2012" FLOAT,
	"2013" FLOAT,
	"2014" FLOAT,
	"2015" FLOAT,
	"IncomeGroup" TEXT
)


2019-06-24 18:46:51,571 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:46:51,574 INFO sqlalchemy.engine.base.Engine COMMIT
2019-06-24 18:46:51,575 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_water_data_index ON water_data ("index")
2019-06-24 18:46:51,576 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:46:51,579 INFO sqlalchemy.engine.base.Engine COMMIT
2019-06-24 18:46:51,582 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-24 18:46:51,585 INFO sqlalchemy.engine.base.Engine INSERT INTO water_data ("index", "Country Name", "Country Code", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "IncomeGroup") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-06-24 18:46:51,586 INFO sqlalchemy.engine.base.Engine ((0, 'Albania', 'ALB', 43.2352673384537, 45.1088352996924, 46.9669478266825, 48.82130378234779, 50.671535281237404, 52.517182087092294, 54.3579208624669, 56.193358439833794, 58.0231032318432, 59.84667610056021, 61.663828610535404, 63.4741124365256, 65.2772050915469, 67.0723939914111, 68.8595042120187, 68.869979425596, 'Upper middle income'), (1, 'Argentina', 'ARG', 97.69474394501101, 97.74355979258681, 97.79118751006521, 97.83748803177241, 97.8823089722946, 97.9967305456147, 98.1096100264979, 98.2209766875463, 98.2694852624099, 98.30694425349579, 98.3430777803307, 98.3778741314803, 98.4113653593348, 98.409375035814, 98.5320653022513, 98.5274147955714, 'High income'), (2, 'Armenia', 'ARM', 26.7013479268149, 26.747757654028202, 31.0528744424918, 35.3755867781183, 39.71474520182179, 43.8895823697293, 46.715767367169704, 49.53149010487, 52.3300718296851, 55.0944115311767, 57.8253501638437, 60.4999499396311, 60.424483453284, 60.35563561566111, 60.61757128512979, 60.5814461944262, 'Upper middle income'), (3, 'Austria', 'AUT', 97.83015329125341, 97.8874706943192, 97.944788097385, 98.0021055004509, 98.05942290351672, 98.11674030658251, 98.17405770964831, 98.2313751127141, 98.28869251578001, 98.34600991884581, 98.4033273219116, 98.4606447249775, 98.5179621280433, 98.57527953110909, 98.6325969341749, 98.6899143372408, 'High income'), (4, 'Azerbaijan', 'AZE', 51.4221946275556, 51.7979595501972, 52.1713090950688, 52.542584310712996, 54.6645163263577, 56.8083417793603, 58.974000532073, 61.161428604271094, 63.3700852441018, 65.5999079876723, 67.8523413150255, 69.7857072338353, 70.2146704640767, 70.64641201119291, 71.0807761315336, 71.517164010822, 'Upper middle income'), (5, 'Belgium', 'BEL', 99.523185662424, 99.523185662424, 99.5231856624239, 99.5231856624239, 99.5231856624239, 99.4166666666667, 99.3, 99.1833333333333, 99.0666666666667, 98.95, 98.8333333333333, 98.7166666666667, 98.6, 98.4833333333333, 98.3666666666667, 98.3666666666667, 'High income'), (6, 'Bangladesh', 'BGD', 55.852309320402604, 55.8845829487231, 55.8922839921358, 55.896239614174796, 55.8965510134889, 55.89347952503471, 55.8865166105516, 55.8757674871653, 55.861342729970204, 55.84335827203011, 55.8214509769773, 55.795898253675496, 55.7679731556333, 55.738329623004205, 55.7066420252038, 55.673246708754505, 'Lower middle income'), (7, 'Bulgaria', 'BGR', 97.20850798124741, 97.20936671076109, 97.2105725651358, 97.21176922994542, 97.177945064737, 97.13236871349551, 97.08704160086809, 97.04196531294642, 96.99713760197041, 96.95255051319491, 96.90820675659158, 96.8640976281619, 96.8202197562657, 96.77656256377121, 96.53954596940599, 96.5516131546263, 'Upper middle income')  ... displaying 10 of 86 total bound parameter sets ...  (84, 'Uganda', 'UGA', 3.9070850221728097, 4.02028270358397, 4.13829164222024, 4.293049626636759, 4.45935628980107, 4.62829087159118, 4.80010214285418, 4.97439421507745, 5.15098520096396, 5.3296907550905495, 5.51049575180758, 5.693023750829309, 5.877394977045389, 6.063367521333981, 6.250696033196571, 6.43899961400888, 'Low income'), (85, 'Ukraine', 'UKR', 64.6522272054992, 64.7395013047247, 64.8285202114518, 64.9183212251278, 67.6746821748935, 70.43812105958179, 73.2075263594514, 75.9831532016354, 78.76492229234451, 81.5527106943758, 84.34654315415291, 87.14624582824909, 89.95165789147079, 92.3396776675175, 92.0648282681727, 92.1625806017013, 'Lower middle income'))
2019-06-24 18:46:51,588 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func, inspect

In [40]:
#Base = automap_base()
#Base.prepare(access_engine, reflect=True)
#Base.classes.keys()

2019-06-24 18:47:11,153 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-06-24 18:47:11,154 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,156 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("access")
2019-06-24 18:47:11,157 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,160 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'access' AND type = 'table'
2019-06-24 18:47:11,160 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,162 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("access")
2019-06-24 18:47:11,163 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,164 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'access' AND type = 'table'
2019-06-24 18:47:11,165 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,166 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("access")
2019-06-24 18:47:11,167 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,168 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_access_index")
2019-06-24 18:47:11,169 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,170 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("access")
2019-06-24 18:47:11,171 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,172 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_access_index")
2019-06-24 18:47:11,173 INFO sqlalchemy.engine.base.Engine ()
2019-06-24 18:47:11,174 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'access' AND type = 'table'
2019-06-24 18:47:11,175 INFO sqlalchemy.engine.base.Engine ()

[]

In [42]:
session = Session(engine)
test = session.execute("select * from water_data")
for item in test:
    print(item)
    print("\n")

2019-06-24 18:47:35,374 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-24 18:47:35,375 INFO sqlalchemy.engine.base.Engine select * from water_data
2019-06-24 18:47:35,375 INFO sqlalchemy.engine.base.Engine ()
(0, 'Albania', 'ALB', 43.2352673384537, 45.1088352996924, 46.9669478266825, 48.82130378234779, 50.671535281237404, 52.517182087092294, 54.3579208624669, 56.193358439833794, 58.0231032318432, 59.84667610056021, 61.663828610535404, 63.4741124365256, 65.2772050915469, 67.0723939914111, 68.8595042120187, 68.869979425596, 'Upper middle income')


(1, 'Argentina', 'ARG', 97.69474394501101, 97.74355979258681, 97.79118751006521, 97.83748803177241, 97.8823089722946, 97.9967305456147, 98.1096100264979, 98.2209766875463, 98.2694852624099, 98.30694425349579, 98.3430777803307, 98.3778741314803, 98.4113653593348, 98.409375035814, 98.5320653022513, 98.5274147955714, 'High income')


(2, 'Armenia', 'ARM', 26.7013479268149, 26.747757654028202, 31.0528744424918, 35.3755867781183, 39.71474520182179, 43.8895823697293, 46.715767367169704, 49.53149010487, 52.3300718296851, 55.0944115311767, 57.8253501638437, 60.4999499396311, 60.424483453284, 60.35563561566111, 60.61757128512979, 60.5814461944262, 'Upper middle income')


(3, 'Austria', 'AUT', 97.83015329125341, 97.8874706943192, 97.944788097385, 98.0021055004509, 98.05942290351672, 98.11674030658251, 98.17405770964831, 98.2313751127141, 98.28869251578001, 98.34600991884581, 98.4033273219116, 98.4606447249775, 98.5179621280433, 98.57527953110909, 98.6325969341749, 98.6899143372408, 'High income')


(4, 'Azerbaijan', 'AZE', 51.4221946275556, 51.7979595501972, 52.1713090950688, 52.542584310712996, 54.6645163263577, 56.8083417793603, 58.974000532073, 61.161428604271094, 63.3700852441018, 65.5999079876723, 67.8523413150255, 69.7857072338353, 70.2146704640767, 70.64641201119291, 71.0807761315336, 71.517164010822, 'Upper middle income')


(5, 'Belgium', 'BEL', 99.523185662424, 99.523185662424, 99.5231856624239, 99.5231856624239, 99.5231856624239, 99.4166666666667, 99.3, 99.1833333333333, 99.0666666666667, 98.95, 98.8333333333333, 98.7166666666667, 98.6, 98.4833333333333, 98.3666666666667, 98.3666666666667, 'High income')


(6, 'Bangladesh', 'BGD', 55.852309320402604, 55.8845829487231, 55.8922839921358, 55.896239614174796, 55.8965510134889, 55.89347952503471, 55.8865166105516, 55.8757674871653, 55.861342729970204, 55.84335827203011, 55.8214509769773, 55.795898253675496, 55.7679731556333, 55.738329623004205, 55.7066420252038, 55.673246708754505, 'Lower middle income')


(7, 'Bulgaria', 'BGR', 97.20850798124741, 97.20936671076109, 97.2105725651358, 97.21176922994542, 97.177945064737, 97.13236871349551, 97.08704160086809, 97.04196531294642, 96.99713760197041, 96.95255051319491, 96.90820675659158, 96.8640976281619, 96.8202197562657, 96.77656256377121, 96.53954596940599, 96.5516131546263, 'Upper middle income')


(8, 'Bahrain', 'BHR', 98.63923022178079, 98.64919646358271, 98.6591627053846, 98.66912894718651, 98.6790951889884, 98.68906143079029, 98.6990276725922, 98.7089939143941, 98.718960156196, 98.72892639799791, 98.7388926397998, 98.74, 98.74, 98.74, 98.74, 98.74, 'High income')


(9, 'Bosnia and Herzegovina', 'BIH', 86.561460004652, 86.9576577177758, 87.3546048732295, 87.51170986379009, 87.61199434524349, 87.71233998199492, 87.8127467740444, 87.91321472139201, 88.0143989740895, 88.116175107485, 88.21845138863141, 88.3211614958938, 88.4242093280895, 88.4787519661563, 88.5721687487937, 88.57549309958799, 'Upper middle income')


(10, 'Belarus', 'BLR', 79.14676767241829, 79.1492699006634, 79.15175149197441, 79.15420728711791, 80.5892585430338, 82.024893075901, 83.4611143136731, 84.8979255338858, 86.33533624679008, 87.7733302796963, 89.2119365160737, 90.65109463711441, 92.0908163161941, 93.361215091357, 94.41136660616492, 94.42866885699009, 'Upper middle income')


(11, 'Bhutan', 'BTN', 27.1888223748911, 27.7737878416053, 28.3554005021777, 28.933281499481698, 29.5072653440872, 30.0673522036099, 30.538980990882603, 31.0058699043956, 31.467883638032397, 31.924314435646, 32.3754401959006, 32.821139143291305, 33.2580983531412, 33.6859212733714, 34.025380074798896, 34.154804385016796, 'Lower middle income')


(12, 'Switzerland', 'CHE', 92.8243243243244, 92.8243243243244, 92.8243243243244, 92.8243243243244, 93.06351351351351, 93.30270270270269, 93.54189189189199, 93.78108108108108, 94.02027027027029, 94.25945945945949, 94.4986486486487, 94.7378378378379, 94.97702702702709, 95.2162162162163, 95.4554054054054, 95.4554054054054, 'High income')


(13, 'Chile', 'CHL', 91.57153187915578, 92.1923538849972, 92.8050881285345, 93.4074006916691, 94.0003358436576, 94.5841319248848, 95.15876812408129, 95.7248893953523, 96.28306317351971, 96.8333613304347, 97.2015533872266, 97.5448341742046, 97.88012659825729, 98.18189269680641, 98.2673954448654, 98.15409730705379, 'High income')


(14, "Cote d'Ivoire", 'CIV', 36.409706298193704, 37.0998374495627, 37.7790492492643, 38.4463664286231, 39.101862581100704, 39.744149115193, 40.3752871292276, 41.0422041308997, 41.696230777984795, 42.3356234652095, 42.9573912714351, 43.561854361445505, 44.1480124008306, 44.716671823801, 45.267756717088204, 45.801632756241894, 'Lower middle income')


(15, 'Congo, Rep.', 'COG', 29.9009883354186, 30.0417943169703, 30.2144332944973, 30.386951573868103, 30.997558359633498, 31.6018823757301, 32.1999193994956, 32.7919392652282, 33.3771179301853, 33.9557595562315, 34.5278871356306, 35.0591413605243, 35.552931701981294, 36.0544426762992, 36.5624366467853, 37.001614032782705, 'Lower middle income')


(16, 'Colombia', 'COL', 67.4197150532572, 67.7902871863204, 68.1576724418777, 68.5218927673941, 68.8834405704683, 69.2413932203866, 69.5962467826587, 69.7963698092799, 69.9917951170783, 70.1825516527654, 70.3686684359798, 70.5501745592865, 70.72667035069179, 70.8986253642496, 71.0493728215767, 71.1226222625859, 'Upper middle income')


(17, 'Costa Rica', 'CRI', 70.27322908558091, 71.9709094152789, 73.6648159996781, 75.35392822508442, 77.03761890272679, 78.7148876928109, 80.3854435141382, 82.0486833121981, 83.7040833269261, 85.3511207163809, 86.75859192640199, 87.4572467864731, 88.1195491966815, 88.7462773883785, 89.3280346039691, 89.80124, 'Upper middle income')


(18, 'Cyprus', 'CYP', 95.8474137931036, 95.8474137931036, 95.8474137931036, 95.8474137931036, 96.16034482758629, 96.473275862069, 96.7862068965518, 97.0991379310345, 97.41206896551729, 97.725, 98.03793103448281, 98.35086206896558, 98.66379310344841, 98.9767241379311, 99.2896551724139, 99.60258620689659, 'High income')


(19, 'Czech Republic', 'CZE', 96.32186003989821, 96.317920657958, 96.43582783767981, 96.55407, 96.6726828243942, 96.7916665004108, 96.91102121759769, 97.03072665634649, 97.1508265245191, 97.2712824951813, 97.39212827619521, 97.5133355442892, 97.56882690423409, 97.5744852900173, 97.58017044698731, 97.5801480117469, 'High income')


(20, 'Germany', 'DEU', 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.35, 99.324688, 99.269868, 99.21513159999999, 99.2154214, 'High income')


(21, 'Denmark', 'DNK', 93.8333908045978, 93.8333908045978, 93.8333908045978, 93.8333908045978, 94.14477011494259, 94.45614942528749, 94.76752873563231, 95.0789080459771, 95.3902873563219, 95.7016666666667, 96.01304597701159, 96.32442528735642, 96.6358045977013, 96.739436, 96.737478, 96.735564, 'High income')


(22, 'Ecuador', 'ECU', 66.35826887662371, 66.961154916078, 67.5165701621856, 68.0400630407545, 68.56404664177221, 69.0882481316698, 69.612663792853, 70.1378405316579, 70.6632289633522, 71.1888253703413, 71.71490506459091, 72.24146804610079, 72.77076637851809, 73.3025470554435, 73.83712008638909, 74.36078187058601, 'Upper middle income')


(23, 'Euro area', 'EMU', 94.65182130638809, 94.79148648173641, 94.9325941626853, 95.0792071567406, 95.2358100841112, 95.3907746956362, 95.54592762940209, 95.6928366246747, 95.83640341717181, 95.9793408515226, 96.1134107360309, 96.2291857928756, 96.3471183035145, 96.43923103542829, 96.4271133938566, 96.41017026351129, None)


(24, 'Spain', 'ESP', 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.45, 98.4267781073065, 98.33531788973431, 98.17635039207899, 98.1776322862262, 'High income')


(25, 'Estonia', 'EST', 93.2438166796669, 93.4613797452698, 93.6809817337365, 93.9024897999721, 94.1260600904333, 94.3516978541158, 94.5792896576336, 93.45486321771021, 91.9908778881385, 90.5261264678657, 89.0605828479151, 87.59424903598891, 86.1271012382892, 84.65928688313501, 83.1907304489527, 81.69057982729309, 'High income')


(26, 'Ethiopia', 'ETH', 4.73992273094862, 5.0915356635787195, 5.405191972786571, 5.6040782465781795, 5.82884379042193, 6.07931861178964, 6.3556842597000704, 6.66307934530707, 7.057504724870009, 7.47787636464594, 7.9248717750188105, 8.39739064352607, 8.89572175886942, 9.41805399017708, 9.96499758161989, 10.535422667254801, 'Low income')


(27, 'Finland', 'FIN', 91.97216735201691, 92.6442508171483, 93.31633428228001, 93.9884177474114, 94.6605012125428, 95.33258467767429, 96.00466814280571, 96.67675160793742, 97.34883507306878, 98.0209185382002, 98.07239142857142, 97.76909828571421, 97.464724, 97.1592479999999, 96.8526577142857, 96.85099914285709, 'High income')


(28, 'France', 'FRA', 93.2339999545455, 93.24177775, 93.2493872727273, 93.2568267272727, 93.2640971363636, 93.2712088636364, 93.2781521818182, 93.2849384772727, 93.2915625454545, 93.2980254090909, 93.3043377272727, 93.3104870909091, 93.31649, 93.3151975, 93.31391049999999, 93.31264, 'High income')


(29, 'United Kingdom', 'GBR', 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 95.65, 'High income')


(30, 'Georgia', 'GEO', 73.900727944449, 74.14553251756591, 74.4040011700184, 74.67660279649, 75.33295608718491, 75.99155191030559, 76.27971516019609, 75.6183994789276, 74.9499762240834, 74.2769269784705, 73.59853955266699, 72.912191778702, 72.2178457480784, 72.4696900435417, 72.7206048097703, 72.9704824273645, 'Lower middle income')


(31, 'Ghana', 'GHA', 15.806876333624801, 16.1256527967444, 16.8121136443134, 17.512003822005997, 18.225585756519102, 18.951437487934502, 19.690481995209502, 20.4422977382882, 21.2067989542267, 21.9828399368963, 22.771730784705202, 23.5723157769594, 24.382674357536303, 25.2015554560127, 26.0287800755655, 26.864916282575603, 'Lower middle income')


(32, 'Gibraltar', 'GIB', 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, 99.052257470054, None)


(33, 'Greece', 'GRC', 98.5390634435058, 98.57814003141121, 98.623656966294, 98.6666253987726, 98.7071455698807, 98.7451429603911, 98.78068811359041, 98.8138388653639, 98.8446200645549, 98.8730225578965, 98.899104427582, 98.9229109912887, 98.94444524857191, 98.92006242875179, 98.89447264908671, 98.8957731329526, 'High income')


(34, 'Greenland', 'GRL', 93.8333908045978, 93.8333908045978, 93.8333908045978, 93.8333908045978, 94.14477011494259, 94.45614942528739, 94.76752873563221, 95.0789080459771, 95.3902873563219, 95.7016666666667, 96.01304597701159, 96.32442528735649, 96.6358045977013, 96.758037, 96.753505, 96.749204, 'High income')


(35, 'Guatemala', 'GTM', 50.1711664060099, 50.859854011099, 51.5513935733296, 52.2459401332965, 52.9437347935156, 53.6446507195252, 54.348741860439794, 55.0559701953741, 55.7662088646002, 56.47950803457721, 57.195740964730504, 57.9147831927501, 58.6367684990665, 59.3614016717436, 60.08889843048429, 60.8189673207422, 'Upper middle income')


(36, 'Hong Kong SAR, China', 'HKG', 98.0098141157177, 98.15628879697941, 98.30286058915209, 98.4495294922358, 98.5962955062305, 98.74315863113621, 98.89011886695292, 99.03717621368071, 99.18433067131942, 99.33158223986909, 99.47893091932991, 99.62637670970159, 99.77391961098431, 99.9215596231781, 100.0, 100.0, 'High income')


(37, 'Croatia', 'HRV', 89.2622843048152, 89.2858734785969, 89.8992041789674, 90.51278, 91.10488011592899, 91.6958728495324, 92.2853369621515, 92.8726130632717, 93.457168735943, 93.05866459497801, 92.63988626050079, 92.2191946568306, 91.7965028699999, 91.3717501163041, 90.9448770503169, 90.45175145489979, 'High income')


(38, 'Hungary', 'HUN', 52.300311350418205, 52.30036312504001, 52.301348879888, 52.3015636165061, 54.73808053943171, 57.1746465450318, 59.61126535052771, 62.0479065476881, 64.48457048419189, 66.9212549287648, 69.3579615187765, 71.7946893126383, 74.23143727161779, 76.6682011947062, 79.10498113860291, 81.54177478317209, 'High income')


(39, 'Ireland', 'IRL', 91.74415287348921, 92.2437927433426, 92.7449132155311, 93.2473980006526, 93.7514244447624, 94.2570158978132, 94.764160192635, 95.2728710190059, 95.78313799143129, 96.29497293064829, 96.80836725779871, 97.3233235096217, 97.83983133686941, 98.3578935059817, 98.87557829105629, 98.87528778574291, 'High income')


(40, 'Iran, Islamic Rep.', 'IRN', 91.12408661474609, 91.2151452251009, 91.305440774475, 91.3949732628685, 91.48361551345128, 91.4940904234512, 91.5017974878775, 91.50084813107071, 91.4945091668108, 91.4857981388477, 91.4748615018852, 91.46160420888269, 91.44628703945841, 91.4274263401094, 91.40532016100978, 91.38014323107821, 'Upper middle income')


(41, 'Iceland', 'ISL', 89.53727272727271, 90.16181818181829, 90.7863636363636, 91.4109090909092, 92.0354545454545, 92.6600000000001, 93.28454545454541, 93.90909090909099, 94.5336363636363, 95.15818181818192, 95.7827272727272, 96.4072727272728, 97.0318181818182, 97.6563636363637, 98.2809090909091, 98.2809090909091, 'High income')


(42, 'Israel', 'ISR', 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 99.39, 'High income')


(43, 'Italy', 'ITA', 86.4650990752973, 87.03429326287979, 87.6034874504624, 88.1726816380449, 88.74187582562759, 89.3110700132102, 89.8802642007927, 90.4494583883752, 91.0186525759577, 91.58784676354031, 92.15704095112301, 92.7262351387055, 93.295429326288, 93.8646235138706, 93.89207547169809, 93.67867924528299, 'High income')


(44, 'Jordan', 'JOR', 94.17012747552229, 94.11065459903091, 94.0514510723106, 93.992477744661, 93.93372914604609, 93.87519980642999, 93.8168842557768, 93.7587770240505, 93.700911184134, 93.6432047879357, 93.5856903005566, 93.5284026182247, 93.4712151721123, 93.41411884549271, 93.3560185961715, 93.29336279201151, 'Upper middle income')


(45, 'Japan', 'JPN', 96.7330874203821, 96.7330874203821, 96.7330874203821, 96.7330874203821, 96.73308742038219, 96.7750072292994, 96.81692703821659, 96.85884684713379, 96.900766656051, 96.94268646496809, 96.9846062738854, 97.0265260828026, 97.0684458917198, 97.110365700637, 97.1522855095541, 97.1942053184713, 'High income')


(46, 'Kyrgyz Republic', 'KGZ', 46.350875123295005, 46.34982225182571, 46.578225316105296, 46.8061042744864, 47.03451025106111, 48.6789972299607, 50.344636501025704, 52.0304064350421, 53.7368245015423, 55.4643706658023, 57.2219166264789, 59.0088472846725, 60.825412385376794, 62.6695606551635, 64.5335018738969, 66.3104188677391, 'Lower middle income')


(47, 'Cambodia', 'KHM', 16.865037629556, 17.3297314593605, 17.7955021904417, 18.262349822799198, 18.7306171178003, 19.2003178818716, 19.6711139557881, 20.143361907343603, 20.6167143730288, 21.0959263898584, 21.580436692937898, 22.0711471056851, 22.568237111646106, 23.071502013720004, 23.5814962718154, 24.0987927544098, 'Lower middle income')


(48, 'Kuwait', 'KWT', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 'High income')


(49, 'Lebanon', 'LBN', 43.98826017478989, 44.223971394958, 44.459682615126, 44.695393835294105, 44.93110505546221, 45.166816275630204, 45.40252749579829, 45.638238715966395, 45.873949936134395, 46.1096611563025, 46.34537237647061, 46.5810835966387, 46.816794816806706, 47.05250603697479, 47.288217257142804, 47.523928477310896, 'Upper middle income')


(50, 'Liechtenstein', 'LIE', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 'High income')


(51, 'Lithuania', 'LTU', 70.7720485298352, 71.1761119000287, 71.5777793655076, 71.9806775184013, 73.5793645081488, 75.20235494237271, 76.8487031171245, 78.50802069713801, 80.1802601438726, 81.8577365865708, 83.54161464651959, 85.2402475579514, 86.95505827191609, 88.6858344421483, 90.43224648598641, 91.69440005840971, 'High income')


(52, 'Luxembourg', 'LUX', 98.10212992, 98.11098316, 98.11742188, 98.12369116, 98.12981924, 98.13576376, 98.14156708, 98.14721508, 98.152736, 98.15807336, 98.16328364, 98.16835272, 98.17316764, 98.17770016, 98.18199264, 98.1860592, 'High income')


(53, 'Latvia', 'LVA', 81.2215893327423, 81.2174602501923, 81.2701876992307, 81.32483740230771, 81.38422889, 81.44330500000001, 81.49842061972309, 81.552762095, 81.60733912641541, 81.66203360232309, 81.71690664399999, 81.7720067576154, 81.82733394316921, 81.874482212378, 81.9028396178, 81.93607127668571, 'High income')


(54, 'Macao SAR, China', 'MAC', 99.97, 99.97, 99.97, 99.97, 99.9721212121212, 99.9742424242424, 99.9763636363636, 99.9784848484849, 99.98060606060609, 99.9827272727273, 99.9848484848485, 99.9869696969697, 99.9890909090909, 99.9912121212121, 99.9933333333333, 99.99545454545459, 'High income')


(55, 'Morocco', 'MAR', 54.775004324397706, 55.6965590593229, 56.6113425998355, 57.5180460034768, 58.417329414253395, 59.4044809092553, 60.400004608843794, 61.38327300738001, 62.3543201415287, 63.31261066838571, 64.2587706952938, 65.192287570459, 66.1137647101138, 67.0221881562251, 67.9171473669921, 68.7992797953121, 'Lower middle income')


(56, 'Monaco', 'MCO', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 'High income')


(57, 'Moldova', 'MDA', 36.3610732895824, 38.6901533903952, 41.0290807791354, 43.3779084753612, 45.73668949863111, 48.105476868503295, 50.4843236045364, 52.8732827262885, 55.2724072533181, 57.6845618757619, 60.110085816811704, 62.5489363243437, 65.0015224575618, 67.467866847343, 69.94808588681579, 69.9569721477719, 'Lower middle income')


(58, 'Mexico', 'MEX', 38.7190689999042, 38.998202750101704, 39.274379162748204, 39.5476363524065, 39.818077816716794, 40.0856066691354, 40.3503875554284, 40.612393207081205, 40.8717101819281, 41.128275473037, 41.3822198465625, 41.6334614969606, 41.8820954519684, 42.128145262488, 42.3716974863541, 42.6127841443715, 'Upper middle income')


(59, 'North Macedonia', 'MKD', 90.98532603232891, 90.9493482740669, 90.9133705158049, 90.87739275754281, 90.8412428568968, 91.1075396014691, 91.38779836991391, 91.6797596539568, 91.9813947257534, 92.2904961603158, 91.22149709489331, 89.4744899550156, 87.72751880301821, 85.9820101465304, 84.7324138604484, 83.4898081092532, 'Upper middle income')


(60, 'Malta', 'MLT', 99.98, 99.98, 99.98, 99.97714285714291, 99.9742857142857, 99.97142857142859, 99.96857142857141, 99.9657142857143, 99.9628571428572, 99.96, 99.95714285714291, 99.9542857142857, 99.95142857142858, 99.94857142857141, 99.9457142857143, 99.9428571428572, 'High income')


(61, 'Northern Mariana Islands', 'MNP', 77.057987512959, 77.08808402398421, 77.1181805350094, 77.1482770460345, 79.35519947789959, 81.5638196616688, 82.125682241819, 82.16895094243691, 82.2122284208506, 82.2555146770599, 82.2988097110649, 82.3421135228657, 82.38542611246208, 82.38542611246208, 82.38542611246208, 82.38542611246208, 'High income')


(62, 'Malaysia', 'MYS', 93.7516527339522, 93.8486891425852, 93.6920843727754, 93.53190061935749, 93.37955303126009, 93.23470573415051, 93.09733460437022, 92.9672322455518, 92.84423707950519, 92.7279827492628, 92.6184127778381, 92.51527488603321, 92.41690952600972, 92.3227996098691, 92.2325914985963, 92.14594950630881, 'Upper middle income')

